@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApplication1.Models
@model Question

<form id="@Model.Id" asp-controller="Home" asp-action="Index">
		<a>Question @Model.Id: </a>@Model.Question1
		<br />
		<input type="radio" value="a" name="ans"><a>A.</a>@Model.A
		<br />
		<input type="radio" value="b" name="ans"><a>B.</a>@Model.B
		<br />
		<input type="radio" value="c" name="ans"><a>C.</a>@Model.C
		<br />
		<input type="radio" value="d" name="ans"><a>D.</a>@Model.D
		<br />
	}
</form>

<form asp-controller="Home" asp-action="Next" method="get">
	<input type="submit" value="Next" />
</form>
